body {
‎    font-family: Arial, sans-serif;
‎    background-color: #79BAEC;
‎    display: flex;
‎    justify-content: center;
‎    align-items: center;
‎    height: 100vh;
‎    margin: 0;
‎}
‎
‎.container {
‎    background-color: white;
‎    padding: 20px;
‎    border-radius: 10px;
‎    box-shadow: 0 0 10px rgba(0,0,0,0.1);
‎    text-align: center;
‎    max-width: 400px;
‎    width: 100%;
‎}
‎
‎h1 {
‎    color: #0041C2;
‎}
‎input {
‎    width: 70%;
‎    padding: 8px;
‎    margin-right: 10px;
‎    border: 1px solid #ccc;
‎    border-radius: 5px;
‎}
‎
‎button {
‎    background-color: #1E90FF;
‎    color: white;
‎    border: none;
‎    padding: 8px 15px;
‎    border-radius: 5px;
‎    cursor: pointer;
‎}
‎
‎button:hover {
‎    background-color: #1E90FF;
‎}
‎
‎ul {
‎    list-style-type: none;
‎    padding: 0;
‎    margin-top: 20px;
‎}
‎
‎li {
‎    background-color: #f9f9f9;
‎    padding: 10px;
‎    margin: 5px 0;
‎    border-radius: 5px;
‎    display: flex;
‎    justify-content: space-between;
‎    align-items: center;
‎}
‎
‎.completed {
‎    text-decoration: line-through;
‎    color: #888;
‎}
‎
‎#quote {
‎    margin-top: 20px;
‎    font-style: italic;
‎    color: #555;
‎}
